<li>
    <a href="~/Dashboard/Index">
        <i class="fa-solid fa-user-group"></i><span class="links_name">Dashboard</span>
    </a>
</li>

<li>
    <a href="~/Categories/Index">
        <i class='bx bx-folder'></i>
        <span class="links_name">Compose</span>
    </a>
</li>
<li>
    <a href="~/Ideas/TestIndex">
        <i class='bx bx-folder-open'></i>
        <span class="links_name">List Ideas</span>
    </a>
</li>

<li>
    <a href="~/Ideas/DownloadAll">
        <i class='bx bx-download'></i>
        <span class="links_name">Download All File</span>
    </a>
</li>
<li>
    <a href="~/Authen/ChangePassword">
        <i class='bx bx-lock'></i>
        <span class="links_name">Change Password</span>
    </a>
</li>
